header
    .sticky-nav(sticky-nav)
        a#mobile-nav.menu-nav(href='#menu-nav')
        #logo
            a#goUp(href='#home-slider', title='Justin Glock') Justin Glock

        nav#menu
            ul#menu-nav
                li
                    a(href='/' target="_self") Home
                li
                    a(href='/blog') Blog